In [1]:
import pandas as pd
import sqlite3
import numpy as np
import os
import shutil

In [2]:
#read specific table and return dataframe
def read_db_table(table_n, connection):
    df = pd.read_sql_query("SELECT * FROM " + table_n, connection)
    return df

In [3]:
#run query
def run_query(query, outputdB):
    conn = sqlite3.connect(outputdB)
    c = conn.cursor()
    c.execute(query)
    conn.commit()
    conn.close()

In [4]:
def write_sql(df_table, sqlite_table, outputdB):
#code snippets from https://github.com/EnergyModels/temoatools/tree/master/temoatools

    df_table = pd.DataFrame(df_table)
    
    # Set-up sqlite connection
    conn = sqlite3.connect(outputdB)
    c = conn.cursor()

    #----------
    # sqlite file prep
    #----------

    # Create SQL command based on number of entries
    command = 'INSERT INTO ' + sqlite_table + ' VALUES (?'
    for i in range(len(df_table.columns)-1):
        command = command + ',?'
    command = command + ')'

    # Execute SQL command
    try:
        c.executemany(command,np.array(df_table))
    except:
        print(command)
        print(np.array(df_table))
        c.executemany(command, np.array(df_table))

    #----------
    # Save(commit) the changes, and close sqlite file
    #----------
    conn.commit()
    conn.close()

In [5]:
# Create New SQL File
outputdB = 'US_National.sqlite'
outputdBold = 'US_National_region.sqlite'

In [6]:
#get all commands from SQL file
fd = open(outputdBold.replace('sqlite','sql').replace('db','sql'), 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands_USNational = sqlFile.split(';')

In [7]:
#get all commands from SQL file
fd = open('../temoa/data_files/temoa_test_system.sql', 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')

In [8]:
list_tables = []
#filter CREATE TABLE commands
iterval = 0
for command in sqlCommands_USNational:
    if 'CREATE TABLE' in command:
        table_name = command.split('CREATE TABLE ')[1].split(' ')[0]
        list_tables.append(table_name.replace("'",'').replace('"','').replace('`',''))
        iterval+=1
print(iterval)

59

In [9]:
#filter CREATE TABLE commands
iterval = 0
create_sqlCommands=[]
list_tables_testfile = []
for command in sqlCommands:
    if 'CREATE TABLE' in command:
        table_name = command.split('CREATE TABLE ')[1].split(' ')[0]
        table_name = table_name.replace("'",'').replace('"','').replace('`','')
        if table_name not in list_tables: 
            print(table_name)
        list_tables_testfile.append(table_name)
        create_sqlCommands.append(command)
        iterval+=1

tech_exchange
MyopicBaseyear

In [10]:
tables_not_in_test = []
for table in list_tables:
    if table not in list_tables_testfile:
        tables_not_in_test.append(table)
tables_not_in_test

['time_renewable',
 'tech_renewable',
 'tech_nonrenewable',
 'tech_groups',
 'StorageInit',
 'RPS_standards']

In [11]:
tables_not_in_test
#create_sqlCommands.append(command)
for command in sqlCommands_USNational:
    if 'CREATE TABLE' in command:
        table_name = command.split('CREATE TABLE ')[1].split(' ')[0]
        table_name = table_name.replace("'",'').replace('"','').replace('`','')
        if table_name=='tech_curtailment':
            command = command.replace('technologies','tech')
        if (table_name in tables_not_in_test) :
            if 'StorageInit' in command:
                command = command.replace('"storage_tech"', '"regions" TEXT, "storage_tech"' ).replace('PRIMARY KEY("regions" TEXT,', 'PRIMARY KEY(')
            create_sqlCommands.append(command)

In [12]:
#write to new SQL file
fd = open(outputdB.replace('sqlite','sql'), 'w')
sqlFile = fd.write(";\n".join(create_sqlCommands))
fd.close()

In [13]:
if os.path.isfile(outputdB):
    os.remove(outputdB)
os.system("sqlite3 " + outputdB + " < " + outputdB.replace('ite',''))

#if os.path.isfile(outputdBold):
#    os.remove(outputdBold)
#os.system("sqlite3 " + outputdBold + " < " + outputdBold.replace('db',''))

0

In [14]:
dict_tables_cols = dict()
dict_tables_cols['CapacityCredit'] = 'tech'
dict_tables_cols['LifetimeProcess'] = 'tech'
dict_tables_cols['DiscountRate'] = 'tech'
dict_tables_cols['PlanningReserveMargin'] = 'reserve_margin'
dict_tables_cols['StorageInit'] = 'storage_tech'
dict_tables_cols['Efficiency'] = 'efficiency'
dict_tables_cols['CapacityToActivity'] = 'c2a'
dict_tables_cols['CapacityFactorTech'] = 'cf_tech'
dict_tables_cols['CostInvest'] = 'cost_invest'
dict_tables_cols['CostFixed'] = 'cost_fixed'
dict_tables_cols['CostVariable'] = 'cost_variable'
dict_tables_cols['Demand'] = 'demand'
dict_tables_cols['DemandSpecificDistribution'] = 'dds'
dict_tables_cols['EmissionActivity'] = 'emis_act'
dict_tables_cols['ExistingCapacity'] = 'exist_cap'
dict_tables_cols['LifetimeLoanTech'] = 'loan'
dict_tables_cols['LifetimeTech'] = 'life'
dict_tables_cols['MinActivity'] = 'minact'
dict_tables_cols['MinCapacity'] = 'mincap'
dict_tables_cols['MaxActivity'] = 'maxact'
dict_tables_cols['MaxCapacity'] = 'maxcap'
dict_tables_cols['GrowthRateMax'] = 'growthrate_max'
dict_tables_cols['GrowthRateSeed'] = 'growthrate_seed'
dict_tables_cols['StorageDuration'] = 'duration'
dict_tables_cols['TechInputSplit'] = 'ti_split'
dict_tables_cols['TechOutputSplit'] = 'to_split'
#dict_tables_cols['MinGenGroupWeight'] = 'act_fraction'
#dict_tables_cols['MinGenGroupTarget'] = 'min_act_g'
dict_tables_cols['groups'] = 'group_name'


dict_tables_cols['technologies'] = 'tech_category'

dict_tables_cols['GlobalDiscountRate'] = 'rate'
dict_tables_cols['SegFrac'] = 'segfrac'
dict_tables_cols['EmissionLimit'] = 'emis_limit'
dict_tables_cols['commodities'] = 'commodities'
dict_tables_cols['commodity_labels'] = 'comm_label_desc'
dict_tables_cols['sector_labels'] = 'sector_labels'
dict_tables_cols['tech_curtailment'] = 'tech_curtailment'
dict_tables_cols['technology_labels'] = 'tech_labels'
dict_tables_cols['time_of_day'] = 't_day'
dict_tables_cols['time_period_labels'] = 't_period_labels'
dict_tables_cols['time_periods'] = 't_periods'
dict_tables_cols['time_season'] = 't_season'
dict_tables_cols['tech_renewable'] = 'tech'
dict_tables_cols['tech_nonrenewable'] = 'tech'
dict_tables_cols['tech_groups'] = 'tech'
dict_tables_cols['tech_annual'] = 'tech'
dict_tables_cols['tech_reserve'] = 'tech'

#dict_tables_cols['regions'] = 'regions'

for key, value in dict_tables_cols.items():
    col_changed = value
    table_name = key
    
    conn = sqlite3.connect(outputdBold)
    df = read_db_table(table_name, conn)
    conn.close()
    
    conn = sqlite3.connect(outputdB)
    df_new = read_db_table(table_name, conn)
    conn.close()
    
    if value in ['rate', 'segfrac','commodities', 'comm_label_desc', 'sector_labels', 'tech_annual', 'tech_renewable',
                 'tech_curtailment', 'tech_labels', 't_day', 't_period_labels', 't_periods', 't_season' , 'tech_nonrenewable',
                 'tech_groups']:
        df_o = df.copy()
    else:
        df_o = df.copy()
        if table_name=='technologies':
            df_o.loc[:,'tech_category']  = ''
        if (table_name=='tech_annual') & ('notes' not in df.columns):
            df_o.loc[:,'notes']  = ''
        if len(df_o)==0:
            df_o = df_new.copy()
        else:
            df_o.loc[:,'regions'] = 'US'
            df_o = df_o[df_new.columns]
        
    write_sql(df_o,table_name, outputdB)

In [15]:
table_name = 'regions'
conn = sqlite3.connect(outputdB)
df_new = read_db_table(table_name, conn)
conn.close()
write_sql(df_new.append({'regions': 'US', 'region_note':''}, ignore_index=True),table_name, outputdB)

In [16]:
conn = sqlite3.connect(outputdB)
with open(outputdB.replace('ite',''), 'w') as f:
    for line in conn.iterdump():
        if 'e+' in line or 'e-0' in line:
            val = [x for x in line.split(',') if 'e+' in x or 'e-0' in x][0]
            ls = line.split(',')
            ind = ls.index(val)
            ls[ind] = [str(round(float(x),2)) for x in line.split(',') if 'e+' in x or 'e-0' in x ][0]
            line = ','.join(ls)
        if 'CREATE TABLE' in line:
            f.write('\n' )
        f.write('%s\n' % line)
        
conn.close()